#{extends 'main.html' /}
#{set title:'Home' /}


<form action="@{Clientes.salvar}">
	<input type="hidden" name="cliente.id" value="${c?.id}" />

	<div class="mb-3">
		<label class="form-label">Nome:</label>
		<input class="form-control" type="text"
			name="cliente.nomeCliente" value="${c?.nome}" />
	</div>
	
	<div class="mb-3">
		<label class="form-label">Email:</label>
		<input class="form-control" type="text"
			name="cliente.email" value="${c?.email}" />
	</div>
	
	<input class="btn btn-primary" type="submit"
		value="${c ? 'Editar':'Cadastrar'}" />
</form>