#{extends 'main.html' /}
#{set title:'Listagem de Produtos' /}

<form action="@{Clientes.listar}">
	<label>Buscar por nome ou email:</label>
	<input type="text" name="termo" value="${termo}" />
	<input type="submit" />
</form>

<ul>
	#{list items: clientes, as:'c'}
		<li>${c.nomeCliente} (${c.email})| 
			<a href="@{Clientes.editar(c.id)}">Editar</a> |
			<a href="@{Clientes.remover(c.id)}">Remover</a>
		</li>
	#{/list}
	#{else}
		<li>Nenhuma cliente cadastrado</li>
	#{/else}
</ul>

<a class="btn btn-primary" href="@{Clientes.form}">Cadastrar Novo</a>