#{extends 'main.html' /} #{set title:'Login' /}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_form_inner">
				    #{if flash.error}
					  <div class="alert alert-danger alert-dismissible fade show" role="alert">
					    <strong>Algo deu errado:</strong> ${flash.error}
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					  </div>
					#{/if}
		    		
		    		#{if flash.success}
					  <div class="alert alert-success alert-dismissible fade show" role="alert">
					    <strong>Sucesso!</strong> ${flash.success}
					    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					  </div>
					#{/if}
					
					<h3>Faça login para entrar</h3>
					<form class="row login_form" action="@{Logins.logar}" id="contactForm" method="post" >
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="usuario.email" placeholder="Informe seu email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="name" name="usuario.senha" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="button button-login w-100">Entrar</button>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->
