#{extends 'main.html' /}
#{set title:'Detalhamento' /}

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container" id="registrar">
		<div class="row">
			<div class="col-lg-6" style="margin: 0 auto;">
				<div class="login_form_inner register_form_inner">
					<h3>Informações do Produto</h3>
					<p>Nome: ${produto.nomeProduto}</p>
					<p>Valor: R$ ${produto.preco}</p>
					<p>Categoria: ${produto.categoria}</p>
					
					<div class="mt-4">
					<a href="@{Produtos.listar()}" class="btn btn-primary">Ir para a listagem</a>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->