#{extends 'main.html' /}
#{set title:'Cadastro de Produto' /}

<form action="@{Produtos.salvar}">
	<input type="hidden" name="produto.id" value="${p?.id}" />

	<div class="mb-3">
		<label class="form-label">Nome do Produto:</label>
		<input class="form-control" type="text"
			name="produto.nomeProduto" value="${p?.nomeProduto}" />
	</div>
	
	<div class="mb-3">
		<label class="form-label">Preço:</label>
		<input class="form-control" type="text"
			name="produto.preco" value="${p?.preco}" />
	</div>
	
	<div class="mb-3">
		<label class="form-label">Categoria:</label>
		<select class="form-select" name="produto.categoria.id">
			#{list items:categorias, as:'c'}
				<option value="${c.id}" 
					${c.id == p?.categoria?.id ? 'selected' : ''}>
						${c.categoria}
				</option>
			#{/list}
		</select>
	</div>
	
	<input class="btn btn-primary" type="submit"
		value="${p ? 'Editar':'Cadastrar'}" />
</form>
