#{extends 'main.html' /}
#{set title:'Listagem de Produtos' /}

<!--================Order Details Area =================-->
<section class="order_details section-margin--small">
  <div class="container" >
    <div class="order_details_table" style="border-radius: 10px;">
      
      <form class="row login_form" action="@{Produtos.listar}">
		
        <div class="col-md-12 form-group">
		  <h2>Produtos disponíveis</h2>
          <input type="text" name="termo" value="${termo}" placeholder="nome ou categoria"/>
          <input type="submit" value="Buscar" style="cursor: pointer; "/>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Produto</th>
              <th scope="col">Categoria</th>
              <th scope="col">Preço</th>
              <th scope="col">-</th>
              <th scope="col">-</th>
            </tr>
          </thead>
          <tbody>
            #{list items: produtos, as:'p'}
            <tr>
              <td>
                ${p.nomeProduto}
              </td>
              <td>
				${p.categoria.categoria}
              </td>
              <td>
                R$ ${p.preco}
              </td>
              <td>
                <a href="@{Produtos.editar(p.id)}"  class="btn btn-sm btn-primary">Editar Informaçôes</a>
              </td>
              <td>
                <a href="@{Produtos.remover(p.id)}" class="btn btn-sm btn-danger">Remover do Site</a>
              </td>
            </tr>
            #{/list}
            #{else}
            <tr>
              <td colspan="5" >Nenhuma produto cadastrado</td>
            </tr>
            #{/else}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<!--================End Order Details Area =================-->